.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 0 0 20px 20px;
  padding-bottom: 20px;
}

.exploreInfo {
  color: var(--tt-secundary-color);
  padding: 0px 25px;
  margin-top: -10px;
}

.exploreTitle {
  color: var(--tt-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploreFormDiv {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.exploreForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;;

}

.exploreForm input {
  width: 300px;
  height: 25px;
  color: var(--tt-secundary-color);
  padding-left: 10px;
}

.searchAlbums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.searchAlbums div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 100%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.018);
  padding: 10px;
  border-radius: 10px; 
}

.searchAlbums img {
  width: 100%;
  box-shadow: var(--tt-primary-color) 0px 0px 15px -7px;
  border-radius: 10px;
}
.searchAlbums p {
  color: var(--tt-secundary-color);
  margin-top: 5px;
  font-size: 14px;
  align-items: center;

}

.searchAlbums h3 {
  color: var(--tt-primary-color);
  margin-top: 5px;
  margin-bottom: 0px;
}

.searchAlbums button {
  font-size: 12px;
}

.loadResponse {
  color: var(--tt-secundary-color);
  font-size: 20px;
}