.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logoDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoDiv > img {
  position: absolute;
  top: 0;
  transform: rotate(-90deg) scale(0.6);
  transform-origin: bottom right;
}

.registerForm {
  background-color: var(--tt-secundary-color);
  padding: 50px;
  padding-top: 30px;
  border-radius: 20px;
  max-width: 270px;
}

#userForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#userForm label {
  margin-top: 30px;
}

#userForm input {
  height: 25px;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
}

#userForm button {
  display: flex;
  margin-top: 20px;
  max-width: 180px;
  margin: 0 auto;
}

#userForm > p {
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

#userForm > p:hover {
  color: var(--tt-primary-color);
  transition: 200ms;
}

@media screen and (max-width: 700px) {
  .register {
    display: flex;
    flex-direction: column;
  }
  .logoDiv {
    justify-content: center;
  }

  .logoDiv > img {
    transform: none;
    transform-origin: none;
    position: static;

    width: 350px;
  }
}