.comunity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 0 0 20px 20px;
}

.comunity > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--tt-secundary-color);
  width: 100%;
}

.comunityImgDiv {
  margin-left: 20px;
}

.comunityImgDiv > img {
  border-radius: 100%;
  border: 1px solid var(--tt-secundary-color);
  box-shadow: var(--tt-primary-color) 0px 0px 15px -2px;
  width: 150px;
}

.comunityInfoDiv {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 8%;
}

.comunityInfoDiv > h3 {
  font-size: 19px;
  color: var(--tt-primary-color);
}

.comunityInfoDiv > p:last-child {
  font-size: 13px;
}

.allUsers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  border-top: var(--tt-primary-color) 1px solid;
  border-bottom: var(--tt-primary-color) 1px solid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.allUsers > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.allUsers > div > img {
  border-radius: 100%;
  border: 1px solid var(--tt-primary-color);
  width: 100%;
  cursor: pointer;
}

.allUsers > div > img:hover {
  transform: scale(0.9);
  transition: 250ms;
}

.allUsers > div > p {
  margin: 1px;
  font-size: 14px;
}

.textPostsDiv {
  display: flex;
  flex-direction: column;
}
.textPostsDiv > div:nth-child(even) {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  background-color: #bcc60308;
  width: 100%;
  justify-content: center;
  margin: 1px;
}

.textPostsDiv > div:nth-child(odd) {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 15px;
  align-items: end;
  margin-bottom: 10px;
}

.textPostsDiv > div > img {
  width: 60px;
  border-radius: 100%;
}

.posts {
  width: 100%;
  padding-top: 20px;
}

.posts > form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.posts > form > textarea {
  padding: 20px;;
  border-radius: 20px;
  max-width: 320px;
  height: 50px;
  margin: 0 auto;
}

.posts > form > button {
  margin: 0 auto;
}

.posts > form > h3 {
  margin-top: 0 auto;
  margin: 0 auto;
}

.popUpAlbums {
  background-color: #bcc6031e ;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px;
}

.popUpAlbums > div {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  justify-content: center;
}

.popUpAlbums > p{
  margin: 0;
  cursor: pointer;
  margin-top: 10px;
}

.popUpAlbums > h3{
  margin: 0;
  margin-top: 5px;
  color: var(--tt-primary-color);
}

.popUpAlbums > p:hover{
  color:var(--tt-primary-color);
  transition: 250ms;
}

.popUpAlbums > div > div{
  display: flex;
  flex-direction: column;
  width: 100px;
}

.popUpAlbums > div > div > img{
  width: 100%;
  border-radius: 10px;
}
.popUpAlbums > div > div > p{
  font-size: 12px;
  margin: 0;
  text-align: center;
}
